---
title: Professional website for Erlend Dancke Sandorf
---

<div class = "jumbotron jumbotron-fluid pb-0 pl-0 pt-0 pr-0 mt-0 border-bottom border-light border-2">
  

  <!-- Carousel -->
  <div id = "carouselExampleCaptions" class = "carousel slide" data-ride = "carousel">
    <ol class = "carousel-indicators">
      <li data-target = "#carouselExampleCaptions" data-slide-to = "0" class = "active"></li>
      <li data-target = "#carouselExampleCaptions" data-slide-to = "1"></li>
      <li data-target = "#carouselExampleCaptions" data-slide-to = "2"></li>
    </ol>
    
    <div class = "carousel-inner">
      <!-- Slide 1 -->
      <div class = "carousel-item active">
        <img src = "assets/img/mykines.jpg" class = "d-block w-100" alt="...">
        <div class = "carousel-caption d-none d-md-block">
          <h5>Welcome to the personal website for Erlend Dancke Sandorf</h5>
          <p>Marie Sklodowska-Curie Research Fellow, Environmental Economist and Choice Modeller</p>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class = "carousel-item">
        <img src = "assets/img/inspire-project-landscape.jpg" class = "d-block w-100" alt = "...">
        <div class = "carousel-caption d-none d-md-block">
          <h5>The INSPiRE Project</h5>
          <p>The Influence of Information Search on Preference Formation and Choice</p>
          <a href = "https://inspire-project.info" class = "btn btn-info">Read more</a>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class = "carousel-item">
        <img src = "assets/img/shrimp-aquaculture.jpg" class="d-block w-100" alt="...">
        <div class = "carousel-caption d-none d-md-block">
          <h5>Sustainable Acquaculture in Vietnam</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          <a href = "#" class = "btn btn-info">Read more</a>
        </div>
      </div>
    </div> <!-- End carosel-inner -->
  </div> <!-- End carosel example captions -->

  </div>
  
<div class = "container">
  <!-- Row of cards -->
  <div class = "card-deck">
    <!-- News -->
    {% assign card = site.news.last %}
    {% include card.html %}
    
    <!-- Blog -->
    {% assign card = site.posts.first %}
    {% include card.html %}
    
    <!-- Pubs-->
    {% assign card = site.pubs.last %}
    {% include card.html %}
  </div>
</div>

    
    