---
title: Professional website for Erlend Dancke Sandorf
---
 <div class = "container mb-3">
  <!-- Carousel -->
  <div id = "carouselExampleCaptions" class = "carousel slide" data-ride = "carousel">
    <ol class = "carousel-indicators">
      <li data-target = "#carouselExampleCaptions" data-slide-to = "0" class = "active"></li>
      <li data-target = "#carouselExampleCaptions" data-slide-to = "1"></li>
      <li data-target = "#carouselExampleCaptions" data-slide-to = "2"></li>
    </ol>
    
    <div class = "carousel-inner">
      <!-- Slide 1 -->
      <div class = "carousel-item active">
        <img src = "assets/img/mykines.jpg" class = "d-block w-100" alt="...">
        <div class = "carousel-caption d-none d-md-block carousel-position-center">
          <h4>Welcome to the personal website for Erlend Dancke Sandorf</h4>
          <p>Marie Sklodowska-Curie Research Fellow, Environmental Economist and Choice Modeller</p>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class = "carousel-item ">
        <img src = "assets/img/inspire-project-landscape.jpg" class = "d-block w-100" alt = "...">
        <div class = "carousel-caption d-none d-md-block carousel-position-right">
          <h5>The INSPiRE Project</h5>
          <p>The project aims to understand how searching for information about policy alternatives affects stated preference formation, learning and choice.</p>
          <a href = "https://inspire-project.info" class = "btn btn-info">Read more</a>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class = "carousel-item">
        <img src = "assets/img/shrimp-aquaculture.jpg" class="d-block w-100" alt="...">
        <div class = "carousel-caption d-none d-md-block carousel-position-left">
            <h5>Sustainable Acquaculture in Vietnam</h5>
            <p>The results of the project will provide policy guidance on how to transition from conventional to high-tech shrimp farming by exploring both the supply and demand side of the policy.</p>
            <a href = "/projects/2018-08-13-sustainable-aquaculture" class = "btn btn-info">Read more</a>
          </div>
        </div>
      </div>
    </div> <!-- End carosel-inner -->
  </div> <!-- End carosel example captions --> 

  
<div class = "container">
  <!-- Row of cards -->
  <div class = "card-deck">
    <!-- News -->
    {% assign card = site.news.last %}
    {% include card.html %}
    
    <!-- Blog -->
    {% assign card = site.posts.first %}
    {% include card.html %}
    
    <!-- Pubs-->
    {% assign card = site.pubs.last %}
    {% include card.html %}
  </div>
</div>

    
    