---
title: News
---

<div class = "container">

    {% assign loop_index = 0 %}
    {% for news in site.news %}                       
        {% assign loop_index = loop_index | plus: 1 %}
        {% assign row_finder = loop_index | modulo: 4 %}
        {% if row_finder == 1 %}
            <div class = "row mt-4">
            {% include news_card.html %}
        {% elsif rowfinder == 0 %}
            {% include news_card.html %}
            </div>
        {% else %}
            {% include news_card.html %}
        {% endif %}
    {% endfor %}

    <!-- To make sure that we close the div -->
    {% if rowfinder != 0 %}
        </div>
    {% endif %}

</div>
