<head>
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, shrink-to-fit = no">
  <meta name = "description" content = "{{ page.description }}">
  <meta name = "author" content = " {{ Erlend Dancke Sandorf }}">

  <title>{{ page.title }}</title>

  <!-- Include bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Include fontawesome -->
  <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity = "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin = "anonymous">
  
  <!-- Include own style sheets -->
  <link rel = "stylesheet" href = "/assets/css/styles.css">
  {% feed_meta %}
  {% seo %}
  
  
  <!-- Only include google tracking when in production -->
  {% include analytics.html %}
</head>