/*  Define global variables to be called with var() */
:root {
    --color-main: #153D99;
    --color-darker: #082361;
    --color-lighter: #4D6CB5;
    --color-light: #BCCCF0;
    --color-text: #000207;
    --color-whiteish: #FEFEFE;
    --color-blackish: #000207;
    --color-link-hover: #808080;
}

.min-height-250 {
  min-height: 250px !important;
}

/* INFORMATION TABLE */
.project-info {
  float: right;
  border: 1px solid var(--color-link-hover);
  padding: 5px;
}

.project-info table {
  width: 450px;
}

.project-info tr {

}

.project-info tr td:first-child {
  width: 125px;
}

/* CAROUSEL POSITIONS */
.carousel-position-left {
  top: 10px;
  bottom: auto;
  left: 10px;
  right: auto;
  text-align: left;
  max-width: 400px;
}

.carousel-position-center {
  top: 10px;
  bottom: auto;
}

.carousel-position-right {
  top: 10px;
  bottom: auto;
  left: auto;
  right: 10px;
  text-align: left;
  max-width: 400px;
}

.carousel-card {
  bacground-color: transparent;
}

/* IMAGE SIZES POSTS */
.img-max-400 {
  max-height: 400px;
  width: 100%;
}

/*  SEARCH */
#searchButton{
  float:right;
}

#searchButton {
  background-color: white;
  border-color: var(--color-text);
}

.img-search {
  width: 200px;
  height: 112.5px;
}


/*  NAVIGATION BUTTON */
#navigationButtonRight{
  float: right;
}

#dropdownMenuButton {
  background-color: white;
  border-color: var(--color-text);
}


/*  CHANGING BEHAVIOR OF MODAL */
.modal-backdrop {
  position:unset !important;
}


/* ADDING BORDER THICKNESS CLASSES */
.border-1 {
    border-width:1px !important;
}

.border-2 {
    border-width:2px !important;
}

.border-3 {
    border-width:3px !important;
}

.border-4 {
    border-width:4px !important;
}


/* ADDING TO THE TOP BUTTON */
#myBtn .fas {
  color: white;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0px; /* Place the button at the bottom of the page */
  right: calc(50vw - 25px); 
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  margin: 0;
  padding: 0 5px;
  border-radius: 5px; /* Rounded corners */
  background-color: var(--color-link-hover);
  color: white;
}

#myBtn:hover {
  background-color: var(--color-text);
  text-decoration: none;
}

/*  LINK ICONS FOOTER */
.link-icons-container {
  margin: 0px 0px;
  display: inline-block;
  text-align: right;
  float: right;
}

/*  HORIZONTAL RULE */
hr {
  display: block;
  position: relative;
  padding: 0px;
  margin: 10px auto;
  height: 0px;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 2px;
  clear: both;
  border: none;
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #ffffff;
}


/*  LINK BEHAVIOR */
a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}

/* FOOTER LINK BEHAVIOR */
.footer-header-link a {
  color: var(--color-link-hover);
  text-decoration: none;
}

.footer-header-link a:hover {
  color: var(--color-text);
  text-decoration: none;
}


/* PROFILE PICTURE */
.img-size-500 {
  width: 500px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
}


/* FONT AWESOME */
.fab, .fas {
  color: var(--color-link-hover);
}

.fab:hover, .fas:hover {
  color: var(--color-text);
  text-decoration: none;
}

.fa-bars {
  color: var(--color-text)
}

