---
layout: default
---

  <div class = "container">
    <div class = "row mt-4">
      <div class = "col-sm-12">
        <h1> {{ page.title }} </h1> <br>
        <p>
          {{ page.date | date_to_string }}
          {% assign author = site.authors | where: 'short_name', page.author | first %}
          {% if author %}
            - <a href="{{ author.url }}">{{ author.name }}</a>
          {% endif %}
        </p>
      </div>
    </div>
    
    <div class = "row mt-4">
      <div class = "col-sm-12">
              <img class = "img-fluid img-max-400 mb-1 mr-3" src = "{{ site.baseurl }}/assets/img/{{ page.image }}">
      </div>
    </div> 
    
    <div class = "row mt-4">
      <div class = "col-sm-12">
                    <p>
        {{ content }}
      </p>
      </div>

    </div>
    <div class = "row mt-4">
      <div class = "col-sm-12">
        <div class = "project-info">
          <table>
          <!-- Row -->
          <tr>
            <td>
              Acronym
            </td>
            <td>
              {{ page.acronym }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td>
              My role
            </td>
            <td>
              {{ page.role }}
            </td>
          </tr>          
          <!-- Row -->
          <tr>
            <td>
              Funder
            </td>
            <td>
              {{ page.funder }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td>
              Funding
            </td>
            <td>
              {{ page.funding }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td>
              Time period
            </td>
            <td>
              {{ page.period }}
            </td>
          </tr>
          <!-- Row -->
          <tr>
            <td>
              Website
            </td>
            <td>
              <a href = "#">{{ page.website }}</a>
            </td>
          </tr>          
        </table>
      </div>
      </div>
    </div>
  </div>



